body {
	background-color: #00BFFF;
	color: #000;
}
.bodoge{
    width: 1344px;
    height: 100%;
    margin : 0 auto;
}
.nav-top {
    margin-bottom: 30px;
    //margin : 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top {
    //display: table-cell;
    text-align: center;
    //vertical-align: middle;
    width: 504px;
    //height: 100px;
    background-color: #fff;
    border-radius: 30px;
    //margin-left: 20px;
}
.top a {
    display: block;
    text-decoration: none;
	font-size: 50px;
    font-weight: bold;
    font-family: 'arial';
    color: black;
    padding: 2px;
}
.login{
    //display: table-cell;
    padding: 15px 0px;
    text-align: center;
    vertical-align: middle;
    width: 186px;
    //height: 100px;
    background-color: silver;
    border: 1px solid black;
    border-radius: 30px;
    //margin-right: 20px;
}
.login a {
    display: block;
    text-decoration: none;
	font-size: 30px;
    font-weight: bold;
    font-family: 'arial';
    color: black;
    padding: 2px;
}
.nav-menu{
	background-color: #fff;
	display: flex;
	flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1344px;
    height: 65px;
    border-radius: 30px;
	text-align: center;
	//margin : 0 auto;
}
.menu{
    display: table-cell;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 30px;
    width: 20%;
    height: 55px;
}
.menu a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    font-family: 'arial';
}
.home{
    background-color: #fff;
    border-radius: 30px;
    height: 100%;
    width: 1344px;
    //margin : 0 auto;
    font-size: 20px;
    font-weight: bold;
    font-family: 'arial';
    padding: 10px;
}
.profile{
    background-color: #fff;
    border-radius: 30px;
}